/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
   
    
}

body{
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(227, 238, 255);
    color: rgb(40, 105, 202);
}